APP_PORT=8000
PMA_PORT=8001
STORAGE_PATH=${ROOT}/storage/
SITE_URL=http://localhost:8000
SITE_NAME=kozossegek.local
ENVIRONMENT=local
DEBUG=1

DB_HOST=mysql
DB_USER=root
DB_PASSWORD=pw
DB_NAME=kozossegek
DB_PORT=3306

BASE_AUTH=0
COMING_SOON=0

API_SITE_KEY="9bSFM9QVryGLXVQ8Vt50iqIxBRAPCqvv2j39NXchNzk="

EMAIL_HOST=
EMAIL_PORT=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_SSL=

CONTACT_EMAIL=
ERROR_EMAIL=
WEBSITE_CONTACT_EMAIL=

CACHE_PAGES=0
LEGAL_NOTICE_VERSION=1
LEGAL_NOTICE_DATE=2021-07-07

APP_TIMEZONE=Europe/Budapest

GOOGLE_CLIENT_ID=
GOOGLE_LOGIN_ENABLED=

FACEBOOK_APP_ID=

ROUTE_CACHE_ENABLED=true