* {
    transition: none !important;
}

#sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    margin-left: 0 !important;
    transition: left ease-in .2s;
    width: 200px; max-width: 200px; min-width: 200px
}

#content {
    margin-left: 200px;
    margin-top: 41px;
    min-height: calc(100vh - 41px);
    position: relative;
    padding-bottom: 57px;
    /*background: #eaeaea;*/
}

#sidebar ul li a {
    padding: 8px 30px;
}

#sidebar .submenu > li > a {
    padding: 4px 30px;
}

#top_menu {
    margin-left: 200px;
    background: #32373d !important;
}

#top_menu .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.note-editor.note-frame.fullscreen {background: #fff}

.select2-container--bootstrap .select2-selection--single {
    height: auto;
    padding: 8px 24px 8px 12px;
}

.user-logo h3 {
    font-size: 1rem !important;
    text-shadow: 2px 2px 4px #000;
    cursor: default;
}

*::placeholder {
    color: #999 !important;
    font-size: 14px;
}

.nav-item.divider {
    padding: 5px 10px;
    position: relative;
}

.nav-item.divider:before {
    content: " ";
    display: block;
    border-left: 1px solid #666;
    width: 1px;
    height: 100%;
}

.btn-group.btn-shadow .btn-primary.active {
    box-shadow: inset 5px 5px 5px -1px rgba(0, 0, 0, 0.4);
}

.btn-default {
    border: 1px solid #b9c8e4;
    background: #dee5f2;
}

.btn-group.btn-shadow .btn-default {
    background: #dee5f2;
    background: linear-gradient(to bottom, #ffffff 0%, #dee5f2 100%);
}

.btn-group.btn-shadow .btn-primary {
    background: #2F89FC;
    background: linear-gradient(to bottom, #2F89FC 0%, #0062cc 100%);
}

.btn-group.btn-shadow .btn-default:active, .btn-group.btn-shadow .btn-default:focus {
    box-shadow: none;
    background: linear-gradient(to bottom, #dee5f2 0%, #ffffff 100%);
}

#admin-title {
    background-color: #eaeaea;
    color: #444;
    overflow: hidden;
}

#sidebar .bg-wrap {
    padding: 28px 0 29px;
}


.switch input { display: none; }
.switch label {
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.switch label:before, .switch label:after {
    width: 100%;
    padding:.3em;
    transition: ease-in .3s all;
    display: inline-block;
    text-align: center;
    margin-left: 0;
}

.switch label:before {
    margin-left: -100%;
    color: #fff;
    content: "BE";
    border-right: 10px solid #fff;
}

.switch input:checked ~ label:before {
    margin-left: 0;
}

.switch label:after {
    content: "KI";
    border-left: 10px solid #fff;
    background: #ccc;
}

.switch label:not([class^=bg-]) {
    background: var(--primary);
}

:disabled {
    cursor: not-allowed;
}

#is_maintenance_on {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.select2-container {
    width: 100% !important;
}

#mobile_menu_toggle { display:none; }

@media (max-width: 991px) {
    #mobile_menu_toggle {display:block;}
    body:not(.sidebar-open) #content, body:not(.sidebar-open) #top_menu {
        margin-left: 0;
    }
    body:not(.sidebar-open) #sidebar {
        left: -200px;
    }
}

@media (max-width: 1024px) {
    #top_menu .nav-item span {
        display: none;
    }
}

.notification {
    position: fixed;
    top: calc(41px + 1em);
    right: 1em;
    display: none;
    z-index: 9999;
}

.select2-selection__choice {
    padding-left: 0 !important;
}

.select2-selection__choice__remove {
    border: none;
    border-right: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
