* {
    transition: none !important;
}

#sidebar {
    height: 100vh;
    position: fixed;
}

#content {
    margin-left: 250px;
}

#sidebar ul li a {
    padding: 8px 30px;
}

#sidebar .submenu > li > a {
    padding: 4px 30px;
}

.note-editor.note-frame.fullscreen {background: #fff}

.select2-container--bootstrap .select2-selection--single {
    height: auto;
    padding: 8px 24px 8px 12px;
}