:root {
    --darkblue: #3f91b0;
    --light-red: #F06A73;
    --light-gray: #f2f5fa;
    --gray2: #a4a7a7;
    --alt-blue: #006ea8;
    --purple: #485288;
    --darkgreen: #407555;
    --transparent-light: rgba(255, 255, 255, .2);
    --main: #2b699a;
}

.nav-transparent {
    background-color: var(--transparent-light);
}

.nav-tabs.nav-transparent .nav-link {
    color: var(--light);
    margin-bottom: -1px;
    border-radius: 0;
}

.nav-tabs.nav-transparent .nav-link:hover {
    border-color: rgba(222, 226, 230, 0.3);
}

.nav-tabs.nav-transparent .nav-link.active {
    background-color: var(--main);
    border-bottom: 0;
    border-color: rgba(222, 226, 230, 0.3);
}

.bg-altblue {
    background-color: var(--alt-blue);
}

.bg-lightblue {
    background-color: var(--light-gray);
}

.border-lightblue {
    border-color: var(--light-gray);
}

.text-lightgray {
    color: var(--gray2);
}

.text-altblue {
    color: var(--alt-blue);
}

.btn-altblue {
    color: #fff;
    background-color: var(--alt-blue);
    border: 1px solid var(--alt-blue);
}

.btn-darkblue {
    color: #fff;
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
}

.radius-0 {
    border-radius: 0 !important;
}

.btn-darkblue:hover {
    background: #1C3C4B;
    color: #fff;
}

.btn-outline-darkblue {
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
}

.btn-outline-darkblue:hover {
    background: var(--darkblue);
    color: #fff;
}

.btn-outline-purple {
    color: var(--purple);
    border: 1px solid var(--purple);
}

.btn-outline-purple:hover {
    background: var(--purple);
    color: #fff;
}

.btn-purple {
    color: #fff;
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.btn-purple:hover {
    color: #fff;
    background-color: #3a3f5c !important;
    border-color: #3a3f5c;
}

.btn-outline-purple:hover {
    background: var(--purple) !important;
    color: #fff !important;
}

.bg-purple {
    background-color: var(--purple);
}

.text-purple {
    color: var(--purple) !important;
}

.text-main {
    color: var(--main) !important;
}

.btn-outline-main {
    color: var(--main);
    border: 1px solid var(--main);
}

.btn-outline-main:hover {
    background: var(--main);
    color: #fff;
}

.btn-main {
    color: #fff;
    background-color: var(--main);
    border: 1px solid var(--main);
}

.btn-main:hover {
    color: #fff;
    background-color: #205781;
    border-color: #205781;
}

.bg-main {
    background-color: var(--main);
}

.btn-outline-altblue {
    color: var(--alt-blue);
    border: 1px solid var(--alt-blue);
}

.btn-outline-altblue:hover {
    background: var(--alt-blue);
    color: #fff;
}

.btn-lightred {
    background-color: var(--light-red);
    color: #fff;
}

.responsive-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 30px;
}

.responsive-container iframe, .responsive-container object, .responsive-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-container.video-container { padding-bottom: 56.25%; }

.responsive-container.pdf-container { padding-bottom: 80%; }

.shadowed {
    padding: 1rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
}

.text-shadowed { text-shadow: 0 0 5px #000; }

.profile-images img { border-radius: 50%; }

.fs-1 { font-size: 2.5rem; }
.fs-2 { font-size: 2rem; }
.fs-3 { font-size: 1.75rem; }
.fs-4 { font-size: 1.5rem; }
.fs-5 { font-size: 1.25rem; }
.fs-6 { font-size: 1rem; }

.flex-grow { flex: 1 0 auto; }

.position-relative { position: relative; }

.form-control-nofocus {
    box-shadow: none !important;
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important; }
    .text-sm-right {
        text-align: right !important; }
    .text-sm-center {
        text-align: center !important; } }

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important; }
    .text-md-right {
        text-align: right !important; }
    .text-md-center {
        text-align: center !important; } }

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important; }
    .text-lg-right {
        text-align: right !important; }
    .text-lg-center {
        text-align: center !important; } }

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important; }
    .text-xl-right {
        text-align: right !important; }
    .text-xl-center {
        text-align: center !important; } }
