body {
    /*font-family: 'Ubuntu', sans-serif;*/

    color: #555;
}

img {
    max-width: 100%;
    height: auto;
}

.home {
    background:url("/images/img2.jpg") no-repeat top center;
    background-position: fixed;
    background-size: cover;
}
.home #header {
    transition: background-color ease-in .2s;
}
.home #header.compact {
    background: #fff;
}

.home #header:not(.compact) .navbar-nav > li > .nav-link {
    color: #fff;
}

.home #header:not(.compact) .user-menu {
    color:#fff !important;
}

.navbar-brand > div:first-child {
    width: 200px;
    height: 50px;
    background: url("/images/logo_sm_2.png") no-repeat center;
    background-size: 100%;
    float: left;
    transition: all ease-in .1s;
}

.home .navbar-brand > div:first-child {
    filter: brightness(0) invert(1);

}

.home #header.compact .navbar-brand > div {
    background: url("/images/logo_sm_2.png") no-repeat center;
    background-size: 100%;
    filter: none;
}

#main-finder {
    min-height: calc(100vh - 321px);
}

.btn-darkblue {
    color: #fff;
    background-color: #3f91b0;
    border: 0;
    border-radius: 0;
}

#main-finder button {
    background: #3f91b0;
    border: 1px solid #3f91b0;
    transition: all ease-in .2s;
}

#main-finder button:hover {
    background: #1C3C4B;
}

nav.navbar .nav-link i {
    margin-right: 5px;
}

nav.navbar .nav-item {
    position: relative;
}

nav.navbar .submenu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #ccc;
    right: 0;
}

nav a {
    /*text-transform: initial !important;*/
}

nav.navbar .nav-item:hover .submenu {
    display: block;
}

nav.navbar .submenu .nav-item:hover {
    background: #fafafa;
}

nav.navbar .submenu a {
}


.nav-fbook {
    margin-left: 20px;
}

.nav-fbook i {
    font-size: 20px;
}

nav.navbar {
    padding: 0;
    border-bottom: 1px solid #dadada;
}

nav.navbar .nav-link {
    color: #000;
    text-transform: uppercase;
    transition: color ease-in .2s;
    font-family: 'Roboto Condensed', sans-serif;
}

nav.navbar .nav-link:hover {
    color: var(--green);
}

.featured {
    display: inline-block;
    width: 100%;
}

.featured h1 {
    padding: 0.8em 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

#finder [name=korosztaly]+span, #finder [name=rendszeresseg]+span {
    width: 150px !important;
}

#main-finder button {
    border-radius: 0;
    display: block;
    margin: 1em auto;
}

#main-finder [name=search]::placeholder {
    font-style: italic;
    color: #cdcdcd;
}

.form-group label [type=checkbox] ~ span {
    color: #444;
}

.inner {
    padding-top: 2em;
    padding-bottom: 4em;
}

#footer {
    background-color: #151414;
    box-shadow: 0 0 10px #000;
}

#footer-top {
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer #footer-top a {
    color: #878787;
    border-bottom: 1px solid #222;
    font-size: 14px;
}

#footer-bottom {
    padding: 1em;
    color: #878787;
    background-color: #0a0a0a;
}

.card-body .description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.kozi-adatlap .card {
    text-decoration: none;
}
.kozi-adatlap .card-body .description {
    --webkit-line-clamp: 2;
}

.kozi-box {
    margin-bottom: 30px !important;
    text-decoration: none !important;
    transition: all linear .1s;
    position: relative;
    color: var(--gray-dark);
    overflow: hidden;
}

.kozi-box:hover {
    box-shadow: 0 0 12px #000;
    z-index: 1;
}

.kozi-more-info {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.kozi-info>* {
    display: block;
    text-align: center;
    width: 33.3333%;
    float: left;
}

.kozi-info>*>* {
    display: block;
}

.kozi-info a {
    text-decoration: none !important;
}

.kozi-tulajdonsag {
    margin-bottom: .5em;
}

.kozi-tulajdonsag label {
    font-weight: bold;
    margin-bottom: 0;
}

.kozi-kiskepek img {
    filter: grayscale(1);
    transition: filter ease-in .2s;
}

.kozi-kiskepek img:hover,
.kozi-kiskepek img.active {
    filter: grayscale(0);
}

.kozi-adatlap .title {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

.kozi-adatlap .title .primary-title {
    margin-bottom: 0;
}

.kozi-adatlap .title .subtitle {
    margin-top: 0;
    font-size: 14px;
    color: #555;
    /* text-transform: uppercase; */
}

.req label::after {
    content: "*";
    color: var(--danger);
    display: inline-block;
    font-weight: bold;
}

.note-editable {
    background-color: #fff;
}

.custom-file-label:after {
    content: "Böngészés"
}

input[name=search]::placeholder {
    color: #999;
}

.container.inner #finder [name=search]::placeholder {
    font-size: 14px;
}

.container.inner #finder button[type=submit] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#main-finder #finder {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#main-finder #finder button {
    padding-left: 2em;
    padding-right: 2em;
}

#finder .group-tag:checked + label span:first-child {
    filter: brightness(0) invert(1);
}

.select2-selection__clear {
    margin-right: 0;
    margin-top: 1px;
}

.mobile-menu-toggle {
    font-size: 2em;
    color: #333;
    display: none;
}

#toggle_main_menu:checked~.navbar-nav {
    display: block;
    right: 0;
    z-index: 2;
}
#toggle_main_menu:checked~.navbar-nav .submenu {
    display: block;
    position: relative;
    border: none;
    background: transparent;
    padding-left: 1em;
}

#toggle_main_menu:checked~.mobile-menu-toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    transition: background-color ease-in .2s;
}

#toggle_main_menu:checked~.mobile-menu-toggle i {
    visibility: hidden;
}



@media (max-width: 991px) {
    #header .navbar-nav {
        display: block;
        position: fixed;
        width: 250px;
        right: -250px;
        top: 0;
        height: 100vh;
        padding: 1em;
        background-color: #f8f9fa;
        transition: right .17s ease-in;
    }

    .mobile-menu-toggle {
        display: block;
    }
}

.img-big {
    transition: ease-in opacity .2s;
}

.note-float-left {
    margin-right: 1em;
}

.note-float-right {
    margin-left: 1em;
}

.page {
    overflow: hidden;
}

#footer .partnereink img {
    max-width: 75px;
    height: auto;
}

.note-icon-caret {
    display: none !important;
}


.select2-container--bootstrap .select2-selection--single {
    height: auto !important;
    padding: 8px 24px 8px 12px !important;
}
.form-group-sm .select2-container--bootstrap .select2-selection--single, .input-group-sm .select2-container--bootstrap .select2-selection--single, .select2-container--bootstrap .select2-selection--single.input-sm {
    height: 31px !important;
    padding: 6px 22px 5px 10px !important;
}

.select2-selection__choice {
    padding-left: 0 !important;
}

.select2-selection__choice__remove {
    border: none !important;
    border-right: 1px solid #ccc !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.select2-container {
    /*width: 100% !important;*/
}


.croppie-container .cr-boundary, .croppie-container .cr-slider-wrap {
    margin: 0;
}

#image-upload {
    display: none;
}

.btn-group.btn-shadow .btn-primary.active {
    box-shadow: inset 5px 5px 5px -1px rgba(0, 0, 0, 0.4);
}

.btn-default {
    border: 1px solid #b9c8e4;
    background: #dee5f2;
}

.btn-group.btn-shadow .btn-default {
    background: #dee5f2;
    background: linear-gradient(to bottom, #ffffff 0%, #dee5f2 100%);
}

.btn-group.btn-shadow .btn-primary {
    background: #2F89FC;
    background: linear-gradient(to bottom, #2F89FC 0%, #0062cc 100%);
}

.btn-group.btn-shadow .btn-default:active, .btn-group.btn-shadow .btn-default:focus {
    box-shadow: none;
    background: linear-gradient(to bottom, #dee5f2 0%, #ffffff 100%);
}

@media (max-width: 425px) {
    .col-xxs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-xxs-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 55px;
    }
    .navbar-brand .logo-lg {display: none;}
    .navbar-brand .logo-sm {
        display: block !important;
    }
}

@media (max-width: 991px) {


    #finder .input-group > *, #finder [name=korosztaly]+span, #finder [name=rendszeresseg]+span {
        display: block !important;
        width: 100% !important;
        margin-bottom: 1em !important;
        border-radius: 4px !important;
    }

    #finder .select2-selection {
        border-radius: 4px;
    }
}
@media (max-width: 425px) {
    .navbar-brand {
        width: 40px;
    }
}

@media (max-width: 1199px) {
    .card-deck {
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
        grid-gap: .5rem;
    }
}

@media (min-width: 1200px) {

    .p-lg-6 {
        padding: calc(1rem * 10) !important;
    }
}

.text-gray {
    color: var(--gray);
}
.text-lightgray {
    color: #c9c9c9;
}

.btn-dark {
    background: #1C3C4B;
}

.btn-outline-dark {
    border-color: #1C3C4B;
    color: #1C3C4B;
}

.btn-outline-dark:hover {
    background-color: #1C3C4B;
}


.main-block h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 1em;
}
#main-finder h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0 0 10px #000;
    cursor: default;
}

#main-finder p {
    padding: 0 10em;
    font-size: 1.2rem;
}

.main-block {
    margin-top: 3em;
    margin-bottom: 3em;
}

#main-finder [name=search] {
    display: block;
    margin: auto;
    padding: 1em 2em;
    width: 100%;
    max-width: 350px;
}
#instructions i {
    color: #555;
    background: #fff;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2rem;
    line-height: 76px;
    margin-bottom: .5em;
    border: 3px solid #555;
}

#instructions img {
    border: 5px solid #fff;
    border-radius: 50%;
    /*box-shadow: 0 0 10px #fff;*/
}

#instructions {
    margin:auto;
    position: relative;
}
#instructions h6 {
    text-transform: uppercase;
}

#instructions:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    top: 50px;
    border-bottom: 2px dashed;
    border-color: rgba(0, 0, 0, .3);
}

.group-tag-badge {
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

.group-tag:checked + label {
    background: var(--primary);
    color: #fff;
}
.required label:after {
    content: "*";
    color: red;
}

.tag-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #eaeaea;
    margin: 0 5px;
}

#kozossegek-list > div {
    padding-left: 1.3em;
    padding-right: 1.3em;
}
#kozossegek-list {
    margin-left: -1.3em;
    margin-right: -1.3em;
}
#kozossegek-list .card-text {
    font-size: .9rem;
}
#kozossegek-list .card-title {
    text-transform: uppercase;
    font-weight: bold;
}

#kozossegek-list .city {
    color:#aaa;
    font-size: 12px;
}

#kozossegek-list .city:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
    width: 100px;
}

#kozossegek-list .card-img {
    width:100%;
    height: 257px;
    overflow: hidden;
    position: relative;
}

#kozossegek-list .card-img div {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    font-weight: bold;
    border: 3px solid #fff;
    transition: opacity ease-in .2s;
}
#kozossegek-list .card-img:before {
    opacity: 0;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity ease-in .1s;
}

#kozossegek-list .card-img:hover:before {
    opacity: 1;
}

#kozossegek-list .card-img:hover div {
    opacity: 1;
}