<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <route-group namespace="App\Portal\Controllers\">
        <middleware name="App\Middleware\ComingSoon"/>
        <route method="get" uri="test" as="test" controller="TestController" use="testEmail"/>
        <route method="get" uri="" as="home" controller="HomeController" use="home"/>
        <route method="get" uri="kozossegek" as="portal.groups" controller="GroupController" use="kozossegek"/>
        <route method="get" uri="kozosseg/{kozosseg}" as="kozosseg" controller="GroupController" use="kozosseg"/>
        <route method="get" uri="feedback" as="portal.feedback" view="portal.feedback"/>
    </route-group>

    <!-- BELÉPÉS -->
    <route method="get" uri="login" controller="App\Portal\Controllers\LoginController" use="login" as="login"/>
    <route method="post" uri="login" controller="App\Portal\Controllers\LoginController" use="doLogin"/>
    <route method="get" uri="admin/logout" controller="App\Portal\Controllers\LoginController" use="logout" as="admin.logout"/>


	<route method="get" uri="teszt" controller="App\Portal\Controllers\TesztController" use="teszt"/>

    <!-- Adatbázisban tárolt statikus oldalak. FIGYELEM!!!! EZ ALÁ MÁR NE KERÜLJÖN ROUTE!!! -->
    <route method="get" uri="{slug}" controller="App\Portal\Controllers\PageController" use="page" as="portal.page"/>
</routes>
