<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <route-group namespace="App\Portal\Controllers\">
        <route method="get" uri="" as="home" controller="HomeController" use="home"/>
        <route method="get" uri="kozossegek" as="portal.groups" controller="GroupController" use="kozossegek"/>
        <route method="get" uri="kozosseg/{kozosseg}" as="kozosseg" controller="GroupController" use="kozosseg"/>
    </route-group>
    <route-group namespace="App\Admin" prefix="admin" as="admin" middleware="App\Middleware\AdminMiddleware">
        <!-- ADMIN  -->
        <!-- ************************************** -->
        
        <!-- OLDALAK -->
        <route-group namespace="Page" prefix="page" controller="PageController" as="page">
            <route method="get" uri="list" use="list" as="list"/>
            
            <route method="get" uri="create" use="create" as="create"/>
            <route method="post" uri="create" use="doCreate" as="do_create"/>
            
            <route method="get" uri="{id}/edit" use="edit" as="edit"/>
            <route method="post" uri="{id}/update" use="doupdate" as="do_update"/>
            <route method="get" uri="{id}/delete" use="delete" as="delete"/>
        </route-group>
        
        
        <!-- KÖZÖSSÉGEK -->
        <route-group namespace="Group" prefix="group" as="group">
            <route method="get" uri="list" controller="GroupController" use="list" as="list"/>
            
            <route method="get" uri="create" controller="GroupController" use="create" as="create"/>
            <route method="post" uri="create" controller="GroupController" use="doCreate" as="do_create"/>
            
            <route method="get" uri="{id}/edit" controller="GroupController" use="edit" as="edit"/>
            <route method="post" uri="{id}/update" controller="GroupController" use="doupdate" as="do_update"/>
            <route method="get" uri="{id}/delete" controller="GroupController" use="delete" as="delete"/>
        </route-group>
        
                
        
        <!-- Intézmények -->
        <route-group namespace="Institute" prefix="institute" as="institute">
            <route method="get" uri="list" controller="InstituteController" use="list" as="list"/>
            
            <route method="get" uri="create" controller="InstituteController" use="create" as="create"/>
            <route method="post" uri="create" controller="InstituteController" use="doCreate" as="do_create"/>
            
            <route method="get" uri="{id}/edit" controller="InstituteController" use="edit" as="edit"/>
            <route method="post" uri="{id}/update" controller="InstituteController" use="doupdate" as="do_update"/>
            <route method="get" uri="{id}/delete" controller="InstituteController" use="delete" as="delete"/>
        </route-group>
        
        <!-- FELHASZNÁLÓK -->
        <route-group>
            <route method="get" uri="users" namespace="User" controller="UserController" use="list" as="users"/>
        </route-group>

        <route method="get" uri="" controller="Controllers\DashboardController" use="dashboard" as="dashboard"/>
        <route method="get" uri="settings" controller="Settings\SettingsController" use="settings" as="settings"/>
    </route-group>
    <route-group namespace="App\Admin\Controllers" prefix="admin" as="admin">
        <route method="get" uri="groups" controller="GroupController" use="list" as="groups"/>
        <route method="get" uri="logout" controller="LoginController" use="logout" as="logout"/>
    </route-group>
	
	<route method="get" uri="teszt" controller="App\Portal\Controllers\TesztController" use="teszt"/>
    <route method="get" uri="{slug}" controller="App\Portal\Controllers\PageController" use="page" as="portal.page"/>
</routes>