#php_value upload_max_filesize 5M
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    Options -Indexes
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]

    # a wordpress-es heckelőknek rögtön letiltjuk a kapcsolatot,
    # hogy ne terheljék a szervert
    RewriteRule wp-(includes|login|admin|content)|wordpress - [F]
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Permitted-Cross-Domain-Policies "none"
    Header set Referrer-Policy "no-referrer-when-downgrade"

    # cache control
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|webp)">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>
