<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <!-- ha majd nyelviesítjük: prefix="{lang#(?:en|hu)?}" -->
    <route-group>
        <route-group namespace="App\Portal\Controllers\">
            <middleware name="App\Middleware\ComingSoon"/>
            <middleware name="csrf"/>
            <route method="get" uri="test" as="test" controller="TestController" use="test"/>

            <route method="all" uri="" as="home" controller="HomeController" use="home"/>

            <route method="all" uri="regisztracio" controller="LoginController" use="register" as="portal.register"/>

            <route method="get" uri="kozossegek" as="portal.groups" controller="GroupController" use="kozossegek"/>
            <route method="get" uri="kozosseg/{kozosseg}" as="kozosseg" controller="GroupController" use="kozosseg"/>

            <route method="get" uri="kozosseg-regisztracio" as="portal.register_group" controller="GroupController" use="kozossegRegisztracio"/>

            <route method="all" uri="([A-Z][a-z]+)" as="portal.groups.in_city" controller="GroupController" use="kozossegek"/>
            <route method="get" uri="kozossegek/page/{page}/" as="portal.groups.page" controller="GroupController" use="kozossegek"/>
            <route method="get" uri="templom/{varos}/{intezmeny}" as="portal.institute_groups" controller="GroupController" use="intezmenyKozossegek"/>

            <route method="get" uri="kozosseg/{varos}/{intezmeny}/{kozosseg}" as="kozosseg.old" controller="GroupController" use="kozosseg"/>

            <route method="get" uri="feedback" as="portal.feedback" view="portal.feedback"/>

            <!-- Közösség kapcsolatfelvételi űrlap -->
            <route method="post" uri="group-contact-form" as="portal.group-contact-form" controller="GroupController" use="groupContactForm"/>
            <route method="post" uri="send-contact-message" as="portal.contact-group" controller="GroupController" use="sendContactMessage" middleware="json"/>

            <!--  Aktív közösség megerősítés  -->
            <route method="get" uri="confirm-group" as="confirm_group" controller="GroupController" use="confirmGroup"/>

            <route method="get" uri="forgot-password" as="portal.forgot_password" controller="UserController" use="forgotPassword"/>
            <route method="post" uri="reset-password" as="portal.reset_password" controller="UserController" use="resetPassword"/>
            <route method="all" uri="recover-password" as="portal.recover_password" controller="UserController" use="recoverPassword"/>

            <route-group middleware="auth">
                <route method="get" uri="profile" as="portal.my_profile" controller="UserController" use="profile"/>
                <route method="post" uri="profile/update" as="portal.profile.update" controller="UserController" use="update"/>
                <route method="get" uri="profile/detach-social-profile" as="portal.detach_social_profile" controller="UserController" use="detachSocialProfile"/>

                <route method="get" uri="my-group/{id}/edit" as="portal.edit_group" controller="GroupController" use="editGroup"/>
                <route method="get" uri="my-group/{id}/download-document" as="portal.download_document" controller="GroupController" use="downloadDocument"/>
                <route method="get" uri="my-groups" as="portal.my_groups" controller="GroupController" use="myGroups"/>

                <route method="get" uri="my-group/{id}/delete" as="portal.delete_group" controller="GroupController" use="deleteGroup"/>
                <route method="post" uri="my-group/{id}/update" as="portal.my_group.update" controller="GroupController" use="updateMyGroup"/>
            </route-group>

            <route method="get" uri="sikeres-regisztracio" as="portal.group.create_group_success" controller="GroupController" use="registrationSuccess"/>

            <route method="post" uri="create-group" as="portal.my_group.create" controller="GroupController" use="createGroup"/>

            <route method="get" uri="lelkisegi-mozgalmak" as="portal.spiritual_movements" controller="SpiritualMovementController" use="list"/>
            <route method="get" uri="lelkisegi-mozgalom/{slug}" as="portal.spiritual_movement.view" controller="SpiritualMovementController" use="view"/>

            <route method="get" uri="szerzetesrendek" as="portal.szerzetesrendek" controller="MonasticCommunityController" use="list"/>
            <route method="get" uri="szerzetesrendek/{slug}" as="portal.monastic_community.view" controller="MonasticCommunityController" use="view"/>

            <!-- Kapcsolatfelvétel -->
            <route method="post" uri="send-message" as="portal.contact_us" controller="ContactController" use="send"/>
        </route-group>

        <route method="all" uri="social/{provider}/login" controller="\App\Portal\Controllers\SocialController" use="socialLogin" as="social_login"/>
        <route method="all" uri="social/{provider}/deauthorize" controller="\App\Portal\Controllers\SocialController" use="deauthorize" as="social_deauthorize"/>

        <!--  FIÓK AKTIVÁLÁS  -->
        <route method="all" uri="/user/activate" as="portal.user.activate" controller="App\Portal\Controllers\UserController" use="activateUser"/>
        <route method="post" uri="login-modal" as="portal.login_modal" view="portal.partials.login_modal"/>

        <!-- BELÉPÉS -->
        <route method="get" uri="login" controller="App\Portal\Controllers\LoginController" use="login" as="login"/>
        <route method="post" uri="login" controller="App\Portal\Controllers\LoginController" use="doLogin" as="doLogin"/>
        <route method="get" uri="logout" controller="App\Portal\Controllers\LoginController" use="logout" as="logout"/>
        <route method="post" uri="resend-activation" controller="App\Portal\Controllers\LoginController" use="resendActivationEmail" as="resend_activation"/>

        <!--  Fiók törlés info link  -->
        <route method="get" uri="fiok-torlese" view="portal/data_deletion_info"/>
    </route-group>

    <!-- VÍZJELES KÉPGENERÁLÁS -->
    <route method="get" uri="/media/{entity_type}/images/{image}" controller="App\Portal\Controllers\ImageController" use="getImage"/>
    <route method="get" uri="opensearch.xml" view="portal/opensearch"/>

    <!-- Adatbázisban tárolt statikus oldalak. FIGYELEM!!!! EZ ALÁ MÁR NE KERÜLJÖN ROUTE!!! -->
    <route method="get" uri="/{slug}/" controller="App\Portal\Controllers\PageController" use="page" as="portal.page" middleware="App\Middleware\ComingSoon"/>
</routes>
